pydantic>=2.0.0
crewai>=0.28.0
setuptools>=68.0.0
python-decouple>=3.8
langchain-community>=0.0.1
openai-whisper>=20230918
torch>=2.0.0
ffmpeg-python>=0.2.0
crewai_tools>=0.1.0
openai>=1.0.0
send2trash>=1.8.0
langchain_google_genai>=0.0.3
maskpass>=0.3.7
youtube-transcript-api>=0.6.1
lockfile>=0.12.2
yt-dlp>=2023.7.6
requests>=2.31.0
python-dotenv>=1.0.0